if !session.user
  ul 
    li
      a(href="/users/signin") ingresar
    li
      a(href="/users/signup") Registrate
else 
  ul
    li 
      a(href="/users/logout") salir
    li
      a(href="/users/profile") Perfil

h1 Bienvenido
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa adipisci sed tempora distinctio saepe voluptatum praesentium vitae eum repellendus! Saepe nemo ab quasi debitis quas delectus ullam quam, accusamus dicta?
p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsa atque ea at ratione reprehenderit veniam in. Esse odio temporibus officiis ab perferendis ad, rerum repellendus voluptates sapiente facilis eos.
p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi hic veniam rem eius saepe distinctio voluptate, quae dolore dolor id consequuntur qui fugit amet quibusdam temporibus assumenda molestias maiores at!
